<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>my.name.adlan.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BCM5722D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>my.name.adlan.BCM5722D</string>
			<key>IOClass</key>
			<string>my_name_adlan_BCM5722D</string>
			<key>IOMatchCategory</key>
			<string>my_name_adlan_BCM5722D</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,165a</string>
				<string>pci14e4,167a</string>
				<string>pci14e4,1672</string>
				<string>pci14e4,167b</string>
				<string>pci14e4,1673</string>
				<string>pci14e4,169b</string>
				<string>pci14e4,1693</string>
				<string>pci14e4,1712</string>
				<string>pci14e4,1713</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.8</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
